<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <controlaltdelete_colissimo_hyva>
            <google_maps>
                <api_key></api_key>
                <region>fr</region>
                <starting_latitude>48.8566</starting_latitude>
                <starting_longitude>2.3522</starting_longitude>
            </google_maps>
        </controlaltdelete_colissimo_hyva>
    </default>
</config>
